.footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    
}

.footer nav ul {
    list-style-type: none;
    padding: 0;
}

.footer nav ul li {
    display: inline;
    margin: 0 10px;
}

.footer nav ul li a {
    color: white;
    text-decoration: none;
}

.footer nav ul li a:hover {
    text-decoration: underline;
}

